<%-include('include/header2')%>
    <div class="container">
        <div class="subcontainer">
           <div class="heading">
             <h3>SIGN IN</h3>
             <div class="forgot">
                <h4>Forgot password? </h4>
                <a href="/signup">
                  <img src="img/adduser.png" width="30" height="30"/>   
                </a>
             </div>
           </div>
           <div class="belowheading">
              <div class="subbelow">
                 <h2>User Management</h2>
                 <h3>Welcome, please login.</h3>
               <form action="/" method="post">
                 <input type="text" placeholder="Username" name="username"/>
                 <input type="password" placeholder="Password" name="password"/>
                 <button type="submit">Sign In</button>
                 <h4 style="color: red;"><%=error%></h4>
               </form>
              </div>
           </div>
          </div>
        </div>
    <div>